## 1유형 [1] Iris

In [3]:
import pandas as pd
data = pd.read_csv("./datasets/Part2/iris.csv")
print(data.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# 1번
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [11]:
# 2번
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

In [17]:
# 3번
lst = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sort_lst = lst.loc[0:99, 'sepal_width']
print(int(sort_lst.std() * 50))

16

In [25]:
# 4번
data2 = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data2.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

In [27]:
# 5번
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean + 2*std
crit2 = mean - 2*std
print(len(data[(data['sepal_length'] >= crit1) | (data['sepal_length'] <= crit2)]))

6

## 1유형 [2] Wine

In [30]:
import pandas as pd
data = pd.read_csv("./datasets/Part2/wine.csv")
print(data.head())

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0            NaN
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline  class
0                          3.92   1065.0      0
1                          3.40   1050.0      0
2                          3.17   1185.0      0
3                          3.45   1480.0      0
4                          2.93    735.0      0

In [36]:
# 1번
data_drop = data[data['total_phenols'].notnull()]
alcal_median = data['alcalinity_of_ash'].median()
data_drop.loc[data['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = alcal_median
print(int(data_drop['alcalinity_of_ash'].mean()))

19

In [39]:
# 2번
mean1 = data['alcohol'].mean()
mean2 = data['color_intensity'].mean()
data_filtered = data[(data['alcohol']>=mean1) & (data['color_intensity']>=mean2)]
print(data_filtered['class'].value_counts().max())

37

In [49]:
# 3번
data_one = data[data['class']==1]['ash'].mean()
data_two = data.dropna()['ash'].mean()
print(round(abs(data_one - data_two), 3))

0.12

In [51]:
# 4번
data_sorted = data.sort_values(by='alcohol')
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data[data['proanthocyanins']<=2]['alcohol'].mean(), 2))

12.94

In [ ]:
# 5번