# 변이통계량(measure of dispersion)
- 데이터의 퍼짐 정도
- 범위, 사분위간 범위, 표준편차, 분산, 변동계수


- 데이터들이 얼마나 흩어져 있는가를 나타내는 것(산포도)
- 하나의 수치로 데이터가 흩어진 정도를 계산
- 대표값과 더불어 데이터를 비교하는 경우에 유용하게 사용
- 예. 평균이 같은 A와 B반의 성적 : 두 집단이 동일한 집단?


- 어느 대학에서 같은 과목을 두 교수가 가르친다고 하자. 두 교수 모두 평균 C학점을 학생들에게 준다면 그 과목을 배우려는 학생들은 어떤 교수를 선택해도 마찬가지라고 생각할 것이다.
- 그러나 한 교수는 대부분의 학생들이 평범하다고 생각하여 C만 주고 다른 교수는 학생들의 반은 우수하고 반은 공부를 안한다고 생각하여 A를 주거나 D만 준다
- 그러므로 이러한 흩어짐의 정보 없이 학생들이 평균 성적 C라는 사실만 가지고 교수를 선택한다면 학점때문에 어려움에 처할 수도 있게 된다.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import *

In [2]:
import numpy as np
# numpy float 출력옵션 변경
# np.set_printoptions(precision=3)
# np.set_printoptions(precision=20, suppress=True)
# pd.options.display.float_format = '{:.2f}'.format
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 범위 (range)

* 데이터의 최대값과 최소값의 차이
* 데이터가 퍼져 있는 정도
* 범위가 클수록 산포가 크다고 말할 수 있지만, 극단적인 값에 영향 받음
* 데이터 중 2개의 정보(최대값, 최소값)만을 이용하므로 적절한 척도로 사용하기 어려움

In [7]:
# 범위 (R) = 최댓값 - 최솟값
np.random.seed(123)
data = np.random.normal(100, 20, size=1000)
data[:10]

np.max(data) - np.min(data)

array([78.287, 119.947, 105.660, 69.874, 88.428, 133.029, 51.466, 91.422,
       125.319, 82.665])

136.05268451891246

In [6]:
# numpy.ptp() 이용
np.ptp(data)

136.05268451891246

### 중간 범위

* 최대값과 최소값의 평균

In [8]:
# 중간 범위 계산
(np.max(data) + np.min(data)) / 2

103.40524210106999

In [12]:
# 사분위간 범위 (IQR) = Q3 - Q1

# numpy.quantile() 이용하여 IQR 계산
np.quantile(data, 0.75) - np.quantile(data, 0.25)

# scipy.stats.iqr(x[, axis, rng, scale, nan_policy, ...]) 이용
iqr(data)

27.06844676167337

27.06844676167337

In [13]:
#사분위수 편차 : 사분위간 범위의 값을 2로 나눈 값, 사분위 범위의 평균값 (범위 보완)

# numpy.quantile() 이용하여 IQR 계산
(np.quantile(data, 0.75) - np.quantile(data, 0.25))/2

# scipy.stats.iqr(x[, axis, rng, scale, nan_policy, ...]) 이용
iqr(data) / 2

13.534223380836686

13.534223380836686

### 편차 (deviation)

In [15]:
deviation = data - np.mean(data)

# 편차의 합은 항상 0
(data - np.mean(data)).sum()

-7.815970093361102e-12

### 분산 (variaince)

- 산포도의 척도로 가장 널리 사용되는 방법
- 평균을 중심으로 데이터가 퍼져있는 정도의 측도


- 각 데이터와 평균과의 차이를 제곱하여 합한 값의 평균
    - 모분산 : n으로 나눠줌
    - 표본분산 : n-1로 나눠줌

**분산 계산 : var(a, ddof=0) 함수**
- numpy.var(a[, axis, dtype, out, ddof, keepdims, where])
- pandas.Series.var(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
- ddof 인수:
    - 기본값은 0 => 모집단 분산
    - 표본 분산의 경우 1로 설정

In [21]:
x = [1, 2, 3, 4, 5]

# 표본분산
np.var(x, ddof=1)

# 모분산 : 방식 1
np.var(x)

# 모분산 : 방식 2
np.array(x).var()
pd.Series(x).var(ddof=0)

2.5

2.0

2.0

2.0

### 표준편차

### 표준편차 계산 : std(a, ddof=0) 함수 사용

* 데이터의 단위와 동일하게 만듦 (분산에서 제곱의 영향을 없앤 지표)
* 분산과 표준편차가 크면 클수록 산포가 큼)

* ddof 인수
    - 기본값은 0 => 모집단 분산
    - 표본 분산의 경우 1로 설정

In [ ]:
x = [1, 2, 3, 4, 5]

# 표본표준편차 (S)
np.std(x, ddof=1)

# 모표준편차 (sigma)
np.std(x)
np.array(x).... # 수정

### 변동계수 (CV: Coefficient of Variable)

In [25]:
men = [72, 74, 77, 68, 66, 75]
women = [45, 48, 52, 53, 46, 50]

print('평균')
np.mean(men)
np.mean(women)

print('표본표준편차')
np.std(men, ddof=1)
np.std(women, ddof=1)

평균

72.0

49.0

표본표준편차

4.242640687119285

3.22490309931942

In [28]:
# np.std(x, axis=axis, ddof=ddof) / np.mean(x) 이용

print('남자의 CV:', np.std(men, ddof=1) / np.mean(men))
print('여자의 CV:', np.std(women, ddof=1) / np.mean(women))

남자의 CV: 0.05892556509887895
여자의 CV: 0.06581434896570246

In [29]:
# scipy.stats.variation() 이용

print('남자의 CV:', variation(men))
print('여자의 CV:', variation(women))

남자의 CV: 0.053791435363991905
여자의 CV: 0.06008000589338671

## 데이터의 정규화

: scaling(표준화)

In [33]:
df = pd.read_csv('C:/TIL/Python_data/data/ch2_scores_em.csv',
                 index_col='student number')
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [34]:
df['english'].describe()

count    50.000000
mean     58.380000
std       9.799813
min      37.000000
25%      54.000000
50%      57.500000
75%      65.000000
max      79.000000
Name: english, dtype: float64

In [35]:
df['mathematics'].describe()

count    50.000000
mean     78.880000
std       8.414371
min      57.000000
25%      76.000000
50%      80.000000
75%      84.000000
max      94.000000
Name: mathematics, dtype: float64

In [36]:
df.describe()

         english  mathematics
count  50.000000    50.000000
mean   58.380000    78.880000
std     9.799813     8.414371
min    37.000000    57.000000
25%    54.000000    76.000000
50%    57.500000    80.000000
75%    65.000000    84.000000
max    79.000000    94.000000

### Z-scaling

In [39]:
# Z-scaling : 평균이 0, 표준편차가 1이 됨
z1 = (df['english'] - df['english'].mean()) / df['english'].std()
z2 = (df['mathematics'] - df['mathematics'].mean()) / df['mathematics'].std()

print(z1.min(), z1.max())
print(z2.min(), z2.max())
# -3 ~ 3 사이의 값으로 분포함

-2.1816743772942324 2.104121873704727
-2.600313324789425 1.796925844187209

In [40]:
z1.mean(), z1.std()

(-2.3092638912203257e-16, 1.0)

### min-max scaling

In [42]:
# min-max scaling
s1 = (df['english'] - df['english'].min()) / (df['english'].max() - df['english'].min())
s2 = (df['mathematics'] - df['mathematics'].min()) / (df['mathematics'].max() - df['mathematics'].min())

print('eng:', s1.min(), s1.max())
print('mat:', s2.min(), s2.max())

eng: 0.0 1.0
mat: 0.0 1.0

### sklearn.preprocessing.MinMaxScaler를 이용한 스케일링

* 머신러닝을 위해 쓰는 경우가 대부분
* df의 각 열에 대해서 스케일링 하는데에 적합함

In [48]:
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [49]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
S = scaler.fit_transform(df)
pd.DataFrame(S, columns=df.columns, index=df.index).head()

                 english  mathematics
student number
1               0.119048     0.216216
2               0.761905     0.621622
3               0.452381     0.162162
4               0.095238     0.162162
5               0.476190     0.513514